<div ng-controller="AddNewWorkerController as vm">
    <h4>Add New Worker</h4>
    <br>
    <h5>{{errorHeading}}</h5>{{error}}
    <br>
    <form>
        <formly-form model="vm.worker" fields="vm.workerFields" form="vm.workerForm">
        <button type="submit" class="btn btn-primary" ng-click="SendData(vm.worker)">Submit<i class="material-icons right">send</i></button>
        </formly-form>
    </form>
    <div id="toastDiv"></div>
</div>

