<div ng-controller="AddNewPostController as vm">
    <h4>Add New Post</h4>
    <br>
    <h5>{{errorHeading}}</h5>{{error}}
    <br>
    <form>
        <formly-form model="vm.post" fields="vm.postFields" form="vm.postForm">
            <button type="submit" class="btn btn-primary" ng-click="SendData(vm.post)">Submit <i class="material-icons right">send</i></button>
        </formly-form>
    </form>
    <br>
    <div id="toastDiv"></div>
</div>

