<div ng-controller="AddNewSiteController as vm">
    <h4>Add New Site</h4>
    <br>
    <h5>{{errorHeading}}</h5>{{error}}
    <br>
    <form>
        <formly-form model="vm.site" fields="vm.siteFields" form="vm.siteForm">
            <button type="submit" class="btn btn-primary" ng-click="SendData(vm.site)">Submit <i class="material-icons right">send</i></button>
        </formly-form>
    </form>
    <br>
    <div id="toastDiv"></div>
</div>

