<div ng-controller="AddNewStatusController as vm">
    <h4>Add New Status</h4>
    <br>
    <h5>{{errorHeading}}</h5>{{error}}
    <br>
    <form>
        <formly-form model="vm.status" fields="vm.statusFields" form="vm.statusForm">
            <button type="submit" class="btn btn-primary" ng-click="SendData(vm.status)">Submit <i class="material-icons right">send</i></button>
        </formly-form>
    </form>
    <br>
    <div id="toastDiv"></div>
</div>

