<div ng-controller="EditWorkerController as vm">
    <h4>Edit a Worker</h4>
    <br>
    <h5>{{errorHeading}}</h5>{{error}}
    <br>
    <form>
        <formly-form model="vm.worker" fields="vm.workerFields" form="vm.workerForm">
            <button type="submit" class="btn btn-primary" ng-click="SendData(vm.worker)">Submit</button>
        </formly-form>
    </form>
    <div id="toastDiv"></div>

</div>
