<md-dialog aria-label="Edit Status"  ng-cloak ng-controller="StatusController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Status</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Status</label>
        <input ng-model="itemDetails.item" type="text">
    </md-input-container>
  
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer(itemDetails)" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

