<div ng-controller="EditSiteController as vm">
    <h4>Edit Site Details</h5>
    <br>
    <h5>{{errorHeading}}</h5>{{error}}
    <br>
    <form>
        <formly-form model="vm.site" fields="vm.siteFields" form="vm.siteForm">
            <button type="submit" class="btn btn-primary" ng-click="SendData(vm.site)">Submit</button>
        </formly-form>
    </form>
    <br>
    <div id="toastDiv"></div>
</div>
