<md-dialog aria-label="Edit Salary Details"  ng-cloak ng-controller="SitePageController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Salary Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
    <h5>{{workerName}}</h5>
   <h6>Rate: Rs. {{rate}}/-</h6>
    <md-input-container class="md-block" flex-gt-sm>
        <label>No. of days</label>
        <input ng-model="salaryDetails.no_of_days" ng-pattern="regex" step="0.01" type="number">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Advance</label>
        <input ng-model="salaryDetails.advance" type="number">
    </md-input-container>
  
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer(salaryDetails)" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

