<div>
	<h3>Posts</h3>
    <div ng-controller="PostsController">
        <div layout="row">
            <md-button class="md-raised" href="#/posts/add-new">Add new post</md-button>
            <md-button class="md-raised md-warn" ng-disabled="!selected.length" ng-click="deletePosts($event)">Delete</md-button>
            <md-button class="md-raised" ng-click="exportToExcel('#poststable')">Download</md-button>
        </div>
        <br><label>Search: <input type="text" ng-model="searchText"/></label><br/>
        <md-card class="md-whiteframe-4dp">
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise" id="poststable">
                    <thead md-head data-md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="post"><span>Post</span></th>
                            <th md-column><span>Edit</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="post" ng-disabled="post.post_id==0" md-select-id="name" md-on-select="selectedItems" ng-repeat="post in allPosts | orderBy: query.order | filter:searchText | limitTo: query.limit: (query.page - 1) * query.limit">
                            <td md-cell>{{post.post}}</td>
                            <td md-cell><a ng-click="editPost(post.post, post.post_id, $event)" style="cursor: pointer"><i class="material-icons">mode_edit</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container> 
        </md-card>

        <data-md-table-pagination md-limit="query.limit" 
        md-limit-options="limitOptions" md-page="query.page" 
        md-total="{{allPosts.length}}" md-on-paginate="onPaginate" 
        md-page-select="options.pageSelect" 
        md-boundary-links="options.boundaryLinks">
        </data-md-table-pagination>
    </div>
</div>
