<md-dialog aria-label="Set worker rate"  ng-cloak ng-controller="WorkersController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Set worker rate</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
   
    <md-input-container class="md-block" flex-gt-sm>
        <label>Rate</label>
        <input ng-model="newRate" ng-pattern="regex" step="0.01" type="number">
    </md-input-container>
  
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer(newRate)" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

