<div>
	<h3>Reports</h3>
    <div ng-controller="ReportsController">
    <div layout="row">
        <h5>Year: {{showYear}}</h5>
    <md-button class="md-raised" ng-click="yearSelection()">Select year</md-button>
    <md-button class="md-raised" ng-click="exportToExcel('#reportsTable')">Download</md-button>
    </div>
    <br><label>Search: <input type="text" ng-model="searchText"/></label><br/>
    <md-card class="md-whiteframe-4dp" layout-align="center center">
   <md-table-container>
    <table md-table md-row-select multiple md-progress="promise" id="reportsTable">
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column md-order-by="siteName"><span>Site Name</span></th>
        <th md-column>Status</th>
        <th md-column md-numeric="true">Jan</th>
        <th md-column md-numeric="true">Feb</th>
        <th md-column md-numeric="true">Mar</th>
        <th md-column md-numeric="true">Apr</th>
        <th md-column md-numeric="true">May</th>
        <th md-column md-numeric="true">Jun</th>
        <th md-column md-numeric="true">Jul</th>
        <th md-column md-numeric="true">Aug</th>
        <th md-column md-numeric="true">Sep</th>
        <th md-column md-numeric="true">Oct</th>
        <th md-column md-numeric="true">Nov</th>
        <th md-column md-numeric="true">Dec</th>
        <th md-column md-numeric="true">Total</th>
      </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="report" md-select-id="name" md-on-select="selectedItems" ng-repeat="report in reports | orderBy: query.order | filter:searchText |limitTo: query.limit: (query.page - 1) * query.limit">

    <td md-cell><a ng-href="#/sites/{{report.siteId}}">{{report.siteName}}</a></td>
        <td md-cell>{{report.status}}</td>
        <td md-cell>{{report.Jan | currency: ""}}</td>
        <td md-cell>{{report.Feb | currency: ""}}</td>
        <td md-cell>{{report.Mar | currency: ""}}</td>
        <td md-cell>{{report.Apr | currency: ""}}</td>
        <td md-cell>{{report.May | currency: ""}}</td>
        <td md-cell>{{report.Jun | currency: ""}}</td>
        <td md-cell>{{report.Jul | currency: ""}}</td>
        <td md-cell>{{report.Aug | currency: ""}}</td>
        <td md-cell>{{report.Sep | currency: ""}}</td>
        <td md-cell>{{report.Oct | currency: ""}}</td>
        <td md-cell>{{report.Nov | currency: ""}}</td>
        <td md-cell>{{report.Decm | currency: ""}}</td>
        <td md-cell>{{report.Total | currency: ""}}</td>

        </tr>
      <tr md-row ng-hide="reports.length == 0">
          <td colspan="2" md-cell>Total</td>
          <td md-cell>{{totalJan | currency:""}}</td>
          <td md-cell>{{totalFeb | currency:""}}</td>
          <td md-cell>{{totalMar | currency:""}}</td>
          <td md-cell>{{totalApr | currency:""}}</td>
          <td md-cell>{{totalMay | currency:""}}</td>
          <td md-cell>{{totalJun | currency:""}}</td>
          <td md-cell>{{totalJul | currency:""}}</td>
          <td md-cell>{{totalAug | currency:""}}</td>
          <td md-cell>{{totalSep | currency:""}}</td>
          <td md-cell>{{totalOct | currency:""}}</td>
          <td md-cell>{{totalNov | currency:""}}</td>
          <td md-cell>{{totalDecm | currency:""}}</td>
          <td md-cell></td>
      </tr>
    </tbody>
  </table>
</md-table-container> 
</md-card>
<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" 
md-page="query.page" md-total="{{reports.length}}" 
md-on-paginate="onPaginate" md-page-select="options.pageSelect" 
md-boundary-links="options.boundaryLinks"></data-md-table-pagination>

    </div>
</div>
