<div>
	<h3>Sites</h3>
    <div ng-controller="SitesController">
    <div layout="row">
    <md-button class="md-raised" href="#/sites/add-new">Add new site</md-button>
    <md-button class="md-raised md-warn" ng-disabled="!selected.length" ng-click="deleteSites($event)">Delete</md-button>
    <md-button class="md-raised" ng-click="exportToExcel('#sitestable')">Download</md-button>
    </div>
    <br><label>Search: <input type="text" ng-model="searchText"/></label><br/>
    <md-card class="md-whiteframe-4dp">
   <md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise" id="sitestable">
    <thead md-head data-md-order="query.order">
      <tr md-row>
        <th md-column>Edit</th>
        <th md-column md-order-by="site_name"><span>Site Name</span></th>
        <th md-column>Site Location</th>
        <th md-column>Start Date</th>
        <th md-column>Close Date</th>
        <th md-column>Status</th>
      </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="site" ng-disabled="site.site_id==0" md-select-id="name" md-on-select="selectedItems" ng-repeat="site in allSites | orderBy: query.order | filter:searchText | limitTo: query.limit: (query.page - 1) * query.limit">

        <td md-cell><a ng-hide="site.site_id==0" ng-href="#/sites/edit/{{site.site_id}}"><i class="material-icons">mode_edit</i></a></td>
        <td md-cell> <a ng-href="#/sites/{{site.site_id}}">{{site.site_name}}</a></td>
            <td md-cell>{{site.site_location == 'undefined' ? '-': site.site_location}}</td>
            <td md-cell>{{site.start_date == '0000-00-00' ? '-' : site.start_date | date:'dd-MMM-yyyy'}}</td>
            <td md-cell>{{site.close_date == '0000-00-00' ? '-' : site.close_date | date:'dd-MMM-yyyy'}}</td>
            <td md-cell>{{site.status}}</td> 
        </tr>
    </tbody>
  </table>
</md-table-container> 
</md-card>
<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" 
md-page="query.page" md-total="{{allSites.length}}" 
md-on-paginate="onPaginate" md-page-select="options.pageSelect" 
md-boundary-links="options.boundaryLinks"></data-md-table-pagination>

    </div>

</div>
