<md-dialog aria-label="Select month and year"  ng-cloak ng-controller="WorkersController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select month and year</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
    <md-input-container>
        <label>Month</label>
        <md-select ng-model="history.month">
            <md-option ng-repeat="site in allSites" value="{{site.site_id}}">
                {{site.site_name}}
            </md-option>
        </md-select>
    </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer(selectedSite)" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

