<div ng-controller="SitePageController">
    <h3>{{siteData[0].site_name}}</h3>
    <div layout="row">
        <h5>{{showMonth}} {{showYear}}</h5>
    </div>
    <md-button class="md-raised" ng-disabled="!selected.length" ng-click="assignWorkersToSite()">Move to other site</md-button>
    <md-button class="md-raised md-warn" ng-disabled="!selected.length" ng-click="deleteWorkers(sal_id)">Delete workers from this site</md-button>

    <md-button class="md-raised" ng-hide="siteID == 0"  ng-click="createSheet()">Create monthly sheet</md-button>
    <md-button class="md-raised" ng-hide="siteID == 0" ng-click="yearSelection()">View old data</md-button>

    <md-button class="md-raised" ng-click="exportToExcel('#salaryTable')">Download</md-button>

    <!--md-button class="md-raised" ng-click="history()">History</md-button-->
    <br><label>Search: <input type="text" ng-model="searchText"/></label><br/>
 <md-card>
   <md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise" id="salaryTable">
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column>Worker Name</th>
        <th md-column>Post</th>
        <th md-column md-numeric="true">Rate</th>
        <th md-column md-numeric="true">No. of Days</th>
        <th md-column md-numeric="true">Amount</th>
        <th md-column md-numeric="true">Advance</th>
        <th md-column md-numeric="true">Balance</th>
        <th md-column>Edit</th>

      </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="worker" md-select-id="name" md-on-select="selectedItems" ng-repeat="worker in workers | filter:searchText | limitTo: query.limit: (query.page - 1) * query.limit">

        <td md-cell>{{worker.first_name}}</td>
        <td md-cell>{{worker.post}}</td>
        <td md-cell>{{worker.rate | currency:"":3}}</td>
        <td md-cell>{{worker.no_of_days}}</td>
        <td md-cell>{{worker.amount | currency:"":3}}</td>
        <td md-cell>{{worker.advance | currency:"":3}}</td>
        <td md-cell>{{worker.balance | currency:"":3}}</td>
        <td md-cell><a href ng-click="editSalaryDetails(worker.sal_id, worker.worker_id, worker.first_name, worker.rate, $event)"><i class="material-icons">mode_edit</i></a></td>
      </tr>
      <tr md-row ng-hide="workers.length == 0"><td md-cell>Total</td><td md-cell></td><td md-cell></td><td md-cell></td><td md-cell>{{sum.amount | currency:"":3}}</td><td md-cell></td><td md-cell>{{sum.balance | currency:"":3}}</td><td md-cell></td></tr>
    </tbody>
  </table>
</md-table-container> 
</md-card>

</div>
