<div>
	<h3>Worker Rates</h3>
    <div ng-controller="WorkerRatesController">
    <div layout="row">
        <h5>Year: {{showYear}}</h5>
    <md-button class="md-raised" ng-click="yearSelection()">Select year</md-button>
    <md-button class="md-raised" ng-click="exportToExcel('#ratesTable')">Download</md-button>
    </div>
    <br><label>Search: <input type="text" ng-model="searchText"/></label><br/>
    <md-card class="md-whiteframe-4dp" layout-align="center center">
   <md-table-container>
    <table md-table md-row-select multiple md-progress="promise" id="ratesTable">
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column md-order-by="workerName"><span>Worker Name</span></th>
        <th md-column>Post</th>
        <th md-column md-numeric="true">Jan</th>
        <th md-column md-numeric="true">Feb</th>
        <th md-column md-numeric="true">Mar</th>
        <th md-column md-numeric="true">Apr</th>
        <th md-column md-numeric="true">May</th>
        <th md-column md-numeric="true">Jun</th>
        <th md-column md-numeric="true">Jul</th>
        <th md-column md-numeric="true">Aug</th>
        <th md-column md-numeric="true">Sep</th>
        <th md-column md-numeric="true">Oct</th>
        <th md-column md-numeric="true">Nov</th>
        <th md-column md-numeric="true">Dec</th>
      </tr>
    </thead>
    <tbody md-body>
<tr md-row md-select="rate" md-select-id="name" md-on-select="selectedItems" ng-repeat="rate in rates | orderBy: query.order | filter:searchText | limitTo: query.limit: (query.page - 1) * query.limit">

        <td md-cell>{{rate.workerName}}</td>
        <td md-cell>{{rate.post}}</td>
        <td md-cell>{{rate.Jan}}</td>
        <td md-cell>{{rate.Feb}}</td>
        <td md-cell>{{rate.Mar}}</td>
        <td md-cell>{{rate.Apr}}</td>
        <td md-cell>{{rate.May}}</td>
        <td md-cell>{{rate.Jun}}</td>
        <td md-cell>{{rate.Jul}}</td>
        <td md-cell>{{rate.Aug}}</td>
        <td md-cell>{{rate.Sep}}</td>
        <td md-cell>{{rate.Oct}}</td>
        <td md-cell>{{rate.Nov}}</td>
        <td md-cell>{{rate.Decm}}</td>
</td>



      </tr>
    </tbody>
  </table>
</md-table-container> 
</md-card>
<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" 
md-page="query.page" md-total="{{rates.length}}" 
md-on-paginate="onPaginate" md-page-select="options.pageSelect" 
md-boundary-links="options.boundaryLinks"></data-md-table-pagination>

    </div>
</div>
