<div>
	<h3>Workers</h3>
    <div ng-controller="WorkersController">
        <div layout="row">
            <md-button class="md-raised" ng-href="#/workers/add-new">Add new worker</md-button>
            <md-button class="md-raised md-warn" ng-disabled="!selected.length" ng-click="deleteWorkers()">Delete</md-button>
            <md-button class="md-raised" ng-disabled="!selected.length" ng-click="assignWorkersToSite()">Assign workers to sites</md-button>
            <md-button class="md-raised" ng-disabled="!selected.length" ng-click="setRates()">Set worker rates</md-button>
            <md-button class="md-raised" ng-click="exportToExcel('#table1')">Download</md-button>
        </div>
        <br><label>Search: <input type="text" ng-model="searchText"/></label><br/>
    </div>
    <div>
        <md-card class="md-whiteframe-4dp" layout-align="center center">
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise"  id="table1">
                    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                        <tr md-row>
                            <th md-column>Edit</th>
                            <th md-column md-order-by="first_name"><span>Worker Name</span></th>
                            <th md-column>Father/Husband Name</th>
                            <th md-column>Post</th>
                            <th md-column md-numeric="true">Current Rate</th>
                            <th md-column>Current Site</th>
                            <th md-column>Gender</th>
                            <th md-column>Address</th>
                            <th md-column>Phone</th>
                            <th md-column>Date of birth</th>
                            <th md-column>Date of joining</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="worker" md-select-id="name" md-on-select="selectedItems" ng-repeat="worker in allWorkers | orderBy: query.order | filter:searchText | limitTo: query.limit: (query.page - 1) * query.limit">
                            <td md-cell><a ng-href="#/workers/edit/{{worker.worker_id}}"><i class="material-icons">mode_edit</i></a></td>
                            <td md-cell>{{worker.first_name}}</td>
                            <td md-cell>{{worker.father_first_name == 'undefined' ? '-': worker.father_first_name}}</td>
                            <td md-cell>{{worker.post}}</td>
                            <td md-cell>{{worker.rate}}</td>
                            <td md-cell><a ng-href="#/sites/{{worker.site_id}}">{{worker.site_name}}</a></td>
                            <td md-cell>{{worker.sex == 'u' ? '-': worker.sex}}</td>
                            <td md-cell>{{worker.address == 'undefined' ? '-': worker.address}}</td>
                            <td md-cell>{{worker.phone == '0' ? '-': worker.phone}}</td>
                            <td md-cell>{{worker.date_of_birth == '0000-00-00' ? '-': worker.date_of_birth | date:'dd-MM-yyyy'}}</td>
                            <td md-cell>{{worker.joining_date == '0000-00-00' ? '-': worker.joining_date | date:'dd-MM-yyyy'}}</td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container> 
        </md-card>
    </div>
    <data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" 
    md-page="query.page" md-total="{{allWorkers.length}}" 
    md-on-paginate="onPaginate" md-page-select="options.pageSelect" 
    md-boundary-links="options.boundaryLinks"></data-md-table-pagination>
    </div>
</div>