<md-dialog aria-label="Select year"  ng-cloak ng-controller="WorkerRatesController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select year</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
    <md-input-container>
        <p>Select year to proceed</p>
        <label>Year</label>
        <md-select ng-model="selectedYear">
            <md-option ng-repeat="year in years" value="{{year.id}}">
                {{year.value}}
            </md-option>
        </md-select>
    </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer(selectedYear)" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

