@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/material-design-fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/material-design-fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/material-design-fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/material-design-fonts/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
        width: 80%;
    }

.outer-container {

}

md-input-container {
    display: block;
}

nav .brand-logo {
font-size: 1.9rem;
padding-left: 13px;
}

nav .nav-wrapper {
width: 100%;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.templates{
    margin-bottom: 10%;
}

h3, h4 {
    font-weight: 300;
}

body, html {
    color: rgb(70, 69, 69);
}

#toastDiv {
    position: absolute;
    width: 300px;
    height: 60px;
    color: white;
}
